@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #DB8000; 
    --cor-amarelo2: #EEB840;
}
.sessao-inicial{

}
.carousel-caption{
    top: 0;
}
.carousel-caption h2{
    font-family: var(--fonte-Montserrat);
    font-weight: 800;
    font-size: 3rem;
    color: var(--cor-amarelo2);
}
.carousel-caption p{
    font-family: var(--fonte-Montserrat);
    font-size: 1.5rem;
    width: 75%;
}

.btns-banner-inicial a{
    text-decoration: none;
}

.btn-saiba-mais-banner-inicial{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-amarelo1);
    transition: 0.3s;
    border: 2px solid var(--cor-amarelo1);
}
.btn-saiba-mais-banner-inicial:hover{
    color: white;
    border: 2px solid white;
}

@media (max-width: 992px) {
    .sessao-inicial{
        margin-top: 85px;
    }

    .carousel-caption h2{
        font-size: 1.5rem;
    }
    .carousel-caption p{
        font-size: 1rem;
        width: 100%;
    }
    .btn-saiba-mais-banner-inicial{
        font-size: 1rem;
    }
    .btn-fazer-contato-banner-inicial{
        font-size: 1rem;
    }
}