@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #c57f1c; 
    --cor-background: black;
    --cor-text: white;
}

#blog{
    background-color: var(--cor-background);
}

.titulo-blog{
    color: var(--cor-text);
    font-family: var(--fonte-Montserrat);
}
.linha-amarela{
    background-color: var(--cor-amarelo1);
    height: 5px;
}



.content-card-blog{
    height: 36rem;
    border: none;
    font-family: var(--fonte-Montserrat);
    background-color: #FAFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content-card-blog p{
    font-size: 14px;
}

.btn-card-blog{
    background-color: var(--cor-amarelo1);
    color: white;
    transition: 0.4s;
}
.btn-card-blog:hover{
    color: white;
    background-color: black;
}

@media (max-width: 1200px) {
    .content-card-blog {
        height: 40rem;
    }
}