@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #c57f1c; 
}

#endereco{
    font-family: var(--fonte-Montserrat);
    background-color: black;
}

.content-titulo-endereco h2{
    color: var(--cor-amarelo1);
}
.content1-endereco p{
    color: white;
}

#content2-sobre{
    /* background-image: url('../img/bg-endereco.png');
    background-size: cover;
    background-position: center; */
}

.map-container {
    
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
}
