@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #EEB840; 
}

#faq{
    background-color: black;
}

.titulo-faq{
    font-family: var(--fonte-Montserrat);
    color: var(--cor-amarelo1);
}

.accordion{
    --bs-accordion-active-bg: #0A0A0A;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: none;
    --bs-accordion-border-width: 0px;
    
    --bs-accordion-button-active-color: white;
}   

.accordion-button.collapsed{
    padding: 2.5%;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: #0A0A0A;
}
.accordion-collapse{
    background: linear-gradient(to bottom , #0A0A0A , #333333);
    color: white;
    border-radius: 0 0 8px 8px;
}
.accordion-button:not(.collapsed){
    box-shadow: none;
    padding: 2.5%;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
    border-radius: 16px;
}

.accordion-body{
    font-size: 1.1rem;
    color: white;
    border-radius: 16px;
}

/* Ícone do accordion fechado */
.accordion-button::after {
    background-image: url("../icon/angulo-para-baixo.png");
}

/* Ícone do accordion quando aberto */
.accordion-button:not(.collapsed)::after {
    background-image: url("../icon/angulo-para-baixo.png");
    transform: rotate(180deg); /* Opcional, caso use uma seta só */
}

.linha-faq {
    color: var(--cor-amarelo1);
    background-color: var(--cor-amarelo1);
    height: 3px;
}