:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #c57f1c; 
    --cor-background: black;
    --cor-text: white;
}

footer{
    background: var(--cor-background);
    color: var(--cor-amarelo1);
}

/* 
======================================
            Footer Menu
======================================
*/
.content2-footer-menu li{
    list-style: none;
}
.content1-footer-menu a{
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--fonte-Poppins);
    font-weight: 500;
    color: var(--cor-amarelo1);
    transition: 0.3s;
    border: 1px solid var(--cor-amarelo1);
}
.content1-footer-menu a:hover{
    color: white;
    background-color: var(--cor-amarelo1);
}
.logo-footer img{
    width: 35%;
}



.content2-footer-menu h2, .content3-footer-menu h2, .content1-footer-menu h2, .content4-footer-menu h2{
    font-family: var(--fonte-BebasNeue);
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--cor-amarelo1);
}
.content2-footer-menu p{
    font-family: var(--fonte-SegoeUi);
    color: var(--cor-amarelo1)
}
.content3-footer-menu p{
    font-size: 1rem;
    font-family: var(--fonte-SegoeUi);
    color: var(--cor-amarelo1);
}
.content2-footer-menu a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-amarelo1);
    transition: 0.2s;
}
.content2-footer-menu a:hover{
    font-weight: bold
}

.content3-footer-menu p{
    color: var(--cor-amarelo1);
}


.content4-footer-menu p{
    font-size: 1rem;
    font-family: var(--fonte-SegoeUi);
    color: var(--cor-amarelo1);
}


.btn-redes-footer{
    color: var(--cor-amarelo1);
    text-decoration: none;
    transition: 0.3s;
}   
.btn-redes-footer:hover {
    color: white;
}

.content3-footer-menu a{
    text-decoration: none;
    color: var(--cor-amarelo1);
}

.linha-footer{
    height: 1px;
    width: 80%;
    background: linear-gradient(to right, transparent, var(--cor-amarelo1), transparent);
}

/* 
=========================================
            Footer Copyright
=========================================
*/
#footer-copyright p{
    color: var(--cor-amarelo1);
    font-size: 1rem;
}
#footer-copyright a{
    font-size: 1rem;
    color: blue;
    transition: 0.3s;
}
#footer-copyright a:hover{
    color: white;
}