@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #c57f1c; 
}

#servicos{
    background-color: black;
}
#servicos h2{
    color: var(--cor-amarelo1);
}

.content-card-servicos{
    color: white;
    border: 2px solid var(--cor-amarelo1);
    height: 350px;
}
.content-card-servicos p{
  
}

.btn-card-servicos{
    text-decoration: none;
    background-color: var(--cor-amarelo1);
    color: black;
    transition: 0.3s;
}
.btn-card-servicos:hover{
    background-color: white;
}