@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-Montserrat: "Montserrat", sans-serif;
    --cor-amarelo1: #c57f1c; 
}

#sobre-fernando{
    background-image: url("../img/bg-sobre-fernando2.png");
    background-position: center;
    background-size: cover;
}


.content1-sobre-fernando h2{
    font-family: var(--fonte-Montserrat);
    color: var(--cor-amarelo1);
}
.content1-sobre-fernando p{
    color: white;
}

.btn-sobre-fernando{
    text-decoration: none;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}
.btn-sobre-fernando:hover{
    background-color: black;
    color: white;
}

.txt-sobre-fernando{
    margin-bottom: 10px;
}


@media (max-width: 992px) {
    #sobre-fernando {
        background-image: url("../img/bg-sobre-fernando2-mobile.png");
    }
}